/* Estilos CSS para el formulario */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://www.cpm-tejerina.com/public/photos/centro_medicina_interna.jpg);
    color: #333;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
background-position: center center;
background-size: cover; 
background-attachment: fixed; 
}

header {
    background-color: #09d7df;
    color: #b80e0e;
    padding: 20px;
}

h1,
h2 {
    color:rgb(226, 33, 162);
    margin-top: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
    
}

main {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    background-color: #09d7df;

    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6ae6a8;
  
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #f806ec;
    background-color: #f806ec;


}

td {
    color: #fff;
}

th {
    background-color: #ffffff;
    font-weight: bold;
}

.tabla-container {
    max-width: 80%;
}
.listado-container {
    max-width: 70%;
}
.boton-container {
    margin-block: 30px;
}

.listado-servicios a {
    text-decoration: none;
    color: #dd258a;
    font-size: 30px;
}

.listado-servicios li::marker {
    content: 🐾;
}
img{
    float: left;
}